{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block nav %}
<form class="form-inline" role="search" method="GET" action="">
        <div class="md-form my-0">
            <input type="text" name="q" placeholder="Search in recipes">
            <input class="btn btn-info" type="submit" value="Search">
        </div>
      </form>
    </div>
{% endblock %}

{% block content %}

<div class="container py-3">
    <div class="row">
                {% for recipe in recipes %}
                    <div class="col-md-6">

                        {% if recipe.image %}
                        <img class="card-img-top" src="{{ recipe.image.url }}" alt="Card image cap">
                        {% endif %}
                        <div class="card-body">
                          <h5 class="card-title">{{ recipe.name }}</h5>
                          <p class="card-text">{{ recipe.description }}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Difficulty:{{ recipe.difficulty }}</li>
                            <li class="list-group-item">Created at:{{ recipe.time|date:"d M Y h:i" }}</li>
                            <li class="list-group-item">Created by:{{ recipe.user }}</li>
                        </ul>
                        <div class="card-body">
                          <a class="card-link">Ingredients:</a>
                          {% for i in recipe.ingredients.all %}
                          <a href="#" class="btn btn-primary">{{ i }}</a>
                          {% endfor %}
                        </div>
                    </div>

                        {% endfor %}

    </div>
    <div class="pagination my-4">
        <span class="step-links">
            {% if recipes.has_previous %}
                <a class="btn btn-danger"href="?page=1">&laquo; first</a>
                <a class="btn btn-info" href="?page={{ recipes.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="btn btn-dark">
                Page {{ recipes.number }} of {{ recipes.paginator.num_pages }}.
            </span>
    
            {% if recipes.has_next %}
                <a class="btn btn-info" href="?page={{ recipes.next_page_number }}">next</a>
                <a class="btn btn-danger" href="?page={{ recipes.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}
{% block rightSide %}
{% endblock %}